<!-- Intro -->
<div id="intro">
  <img src="/images/logo.jpg" class="imgHeaderLogo" alt="PeekPark" />
  <!--<h1>NexusPlater</h1> -->
  <p>Peek Park</p>
  <ul class="actions">
    <li>
      <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
        >Continue</a
      >
    </li>
  </ul>
</div>

<!-- Header -->
<header id="header">
  <a href="/home" class="logo">PeekPark</a>
</header>

<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <li class="active"><a href="/home">About</a></li>
    <li><a href="/home">Contact</a></li>
  </ul>
  <ul class="icons">
    <li>
      <a
        href="https://wa.me/message/KFVWSJUR56XYJ1"
        target="_blank"
        class="icon brands fa-whatsapp"
        ><span class="label">WhatsApp</span></a
      >
    </li>
    <li>
      <a
        href="https://www.facebook.com/nexusplater"
        target="_blank"
        class="icon brands fa-facebook-f"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/nexusplater"
        target="_blank"
        class="icon brands fa-instagram"
        ><span class="label">Instagram</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/nexusplater"
        target="_blank"
        class="icon brands fa-linkedin"
        ><span class="label">LinkedIn</span></a
      >
    </li>
  </ul>
</nav>
