<!-- Main -->
<div id="main">
  <article class="post featured">
    <header class="major">
      <span name="spanSysDate" id="spanSysDate" class="date"></span>
      <h2>
        <a href="#" target="_blank">About</a>
      </h2>
      <p>Peek Park App</p>
    </header>
    <div id="divCatalogImg">
      <a href="#" alt="Catalog" target="_blank" class="image main"
        ><img id="imgCatalogImage" src="/images/1.jpg" alt="Catalog"
      /></a>
    </div>
    <ul class="actions special">
      <li>
        <a href="#" target="_blank" class="button large">Invest Now</a>
      </li>
    </ul>
  </article>
</div>
