<!-- Message -->
<div id="intro">
  <br />
  <br />
  <p>
    Inquiry Sent Successfully!<br />Our team will get back to you as soon as
    possible.&nbsp; Thank You
  </p>
  <header id="header">
    <a href="/home" class="logo">Back</a>
  </header>
</div>
